<%= form_for @recipe, :html => { :class => "form-horizontal recipe" } do |f| %>

    <% if @recipe.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :cooking_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cooking_time, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:cooking_time]) %>
  </div>
  <div class="control-group">
    <%= f.label :difficulty, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :difficulty, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:difficulty]) %>
  </div>
  <div class="control-group">
    <%= f.label :rest_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rest_time, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:rest_time]) %>
  </div>
  <div class="control-group">
    <%= f.label :preparation_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :preparation_time, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:preparation_time]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            recipes_path, :class => 'btn btn-default' %>

<% end %>
